@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

:root {
    --backgroundcolor: #79cbce72;
    --colortextos: rgb(35, 34, 34);
    --fontfamily:'Montserrat', sans-serif;
    --colorbordesorange: rgb(228, 127, 25);
    --colortexthover: rgb(218, 251, 252);
    --colorhead: #55C5D1;
    --colormenu: #dba887f3;
    --presentcolor: #d3b1a4f1; 
}

/* =============================================================== 
          DISPOSITIVOS DE TAMAﾃ前 MENOR A 768px => CELULARES
=============================================================== */
@media screen and (min-width: 1px) and (max-width: 640px) {
    body {
        font-family: var(--fontfamily);
        background-color: var(--backgroundcolor);
        width: 100%;
        height: auto;
    }

    /* ***CABECERA DE LA PAGINA*** */
    header {
        width: 100%;
        height: 120px;
        background-color: var(--colorhead);
        color: var(--colortextos);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        border-bottom-left-radius: 20px;
        border-left: 5px solid var(--colorbordesorange);
        border-top: 10px solid var(--colorbordesorange);
    }

    /* ***MENU*** */
    .nav-title-page {
        float: left;
        margin-top: 20px;
        margin-left: 15px;
        font-size: 30px;
        text-shadow: 2px 2px var(--presentcolor);
    }

    .header-nav-logo {
        position: fixed;
        margin-top: 2px;
        margin-left: 15px;
        height: 100px;
        width: 100px; 
    }

    .nav-toggle {
        float: right;
        z-index: auto;
        font-size: 20px;
        margin:15px;
        color: var(--colortextos);
        background: none;
        border: none;
        cursor: pointer;
    }

    .nav-menu {
        width: 100%;
        height: 150px;
        margin-top: 120px;
        list-style: none;
        background-color: var(--presentcolor);
        position: fixed;
        left: 100%;
        border-bottom-left-radius: 15px;
        border-top-left-radius: 15px;
        overflow-y: auto;
        transition: left 0.5s;
        border-left: 4px solid var(--colorbordesorange);
        border-top: 4px solid var(--colorbordesorange);
        border-bottom: 5px dashed var(--colorbordesorange);
    }

    .nav-menu_visible {
        left: 0;
    }

    .nav-menu-item {
        color: var(--colortextos);
        font-size: 20px;
        font-style: italic;
        text-align: center;
        margin-top: 10px;
    }

    .nav-menu-item:hover {
        background-color: #95d0d8;
        transition: 0.5s;
    }

    .nav-menu-link {
        color: var(--colortextos);
        text-decoration: none;
    }

    /* ***CUERPO DE LA PAGINA, SECCION ORDENAR.*** */
    .selectors {
        background-color: var(--colorhead);
        height: 150px;
        width: 1300px;
        margin-top: 130px;
        padding: 10px;
        border-top: 5px dashed var(--colorbordesorange);
        border-bottom: 5px dashed var(--colorbordesorange);
        color: var(--colortextos);
        border-radius: 10px;
    }

    #label-main {
        font-size: 15px;
        margin-left: 20px;
    }

    .select-content {
        margin-top: 20px;
        margin-left: -40px;
        padding-right: -10px;
    }

    .filter {
        font-family: var(--fontfamily);
        font-size: 15px;
        border-radius: 15px;
        border-color: var(--colorbordesorange);
        background-color: #95d0d8;
        color: var(--colortextos);
    }

    .filter-label {
        font-size: 15px;
        text-align: center;
        margin-bottom: 5px;
    }

    #artic-direct {
        display: block;
        margin: 5px;
        padding-left: 50px;
    }

    #artic-az {
        display: block;
        margin: 10px;
        padding-left: 50px;
    }

    #artic-produc {
        display: block;
        margin: 10px;
        padding-left: 50px;
    }

    /* *******PRESENTACION DE LA PAGINA******* */
    .presentation {
        color: var(--colortextos);
        margin: 10px;
        padding-top: 10px;
        font-size: 12px;
        font-style: italic;
        background-color: var(--presentcolor);
        text-align: center;
        width: 95%;
        height: 50px;
        border-radius: 5px;
    }

    .percent{
        font-size:15px;
        text-align: center;
        margin-left: 15px;
        width: 90%;
        color: var(--colortextos);
        text-shadow: 2px 1px var(--colorhead);
    }

    /* ***CUERPO DE LA PAGINA TARJETAS DISPOSITIVO PEQUEﾃ前*** */
    .container {
        display: grid;
        justify-content: center;
        width: 80%;
        height: auto;
        margin-left: 40px;
    }

    .card {
        width: 300px; 
        margin: 10px;
        padding: 10px;
        background-color: var(--presentcolor);
        border-left: 4px solid var(--colorbordesorange);
        border-top: 6px solid var(--colorbordesorange); 
        border-radius: 15px; 
        text-align: justify; 
        align-items: center;
        word-wrap: break-word;
    }

    .card:hover {
        background-color: #5ec7d2f0;
        transition: 0.5s;
    }
        
    #posters {
        display: flex;
        height: 200px;
        width: auto;
        margin-left: 5px;
        margin-right: 10px;
        margin-bottom: 10px;
        border-radius: 15px;   
        float: left;
    }

    .title {
        color: var(--colortextos);
        padding: 10px;
        margin-left: 10px;
        text-align: center;
        color: black;
        font-size: 25px;
        font-style: oblique;
    }

    .releaseDate {
        color: black;
        font-size: 20px;
        font-style: oblique;
        margin-top: 10px;
    }

    #description {
        height: 300px ;
        padding: 25px;
        font-size: 10px;
        line-height: 1.5;
        text-align: justify;
        box-shadow: 1px;
    }

    /* SECCIONES ADICIONALES */
    #ghibli{
        margin: 100px 25px;
        text-align: justify;
    }

    #gif-totoro {
        height: 130px;
        margin-left: 10px;
    }

    .gifs {
        height: 140px;
        margin-left: 40px;
    }

    .sect-title {
        text-align: center;
    }

    
    .curious-text {
        margin: 20px;
        text-align: justify;
    } 
}

/* =============================================================== 
          DISPOSITIVOS DE TAMAﾃ前 TABLET 768px 
=============================================================== */
@media screen and (min-width: 641px) and (max-width: 1099px) {
    body {
        font-family: var(--fontfamily);
        background-color: var(--backgroundcolor);
        width: 100%;
        height: auto;
        }
    /* ***CABECERA DE LA PAGINA*** */
    header {
        width: 100%;
        height: 150px;
        background-color: var(--colorhead);
        color: var(--colortextos);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        border-bottom-left-radius: 20px;
        border-left: 5px solid var(--colorbordesorange);
        border-top: 10px solid var(--colorbordesorange);
    }

    /* ***MENU*** */
    .nav {
        display: inline-flex;
    }

    .nav-title-page {
        float: left;
        margin-top: 60px;
        margin-left: 15px;
        font-size: 35px;
        text-shadow: 2px 2px var(--presentcolor);
    }

    .header-nav-logo {
        margin-top: 2px;
        margin-left: 25px;
        height: 120px;
        width: 120px; 
    }

    .nav-toggle {
        display: none;
    }

    .nav-menu {
        display: inline-flex;
        list-style: none;
        padding-top: 10px;
    }

    .nav-menu_visible {
        left: 0;
    }

    .nav-menu-item {
        color: var(--colortextos);
        font-size: 18px;
        font-style: italic;
        text-align: right;
        padding: 20px 10px;
    }

    .nav-menu-link {
        color: var(--colortextos);
        text-decoration: none;
    }

    .nav-menu-link:hover {
        color: var(--colortexthover);
        transition: 0.5s;
    }

    /* ***CUERPO DE LA PAGINA, SECCION ORDENAR.*** */
    .selectors {
        display: flex;
        background-color: var(--colorhead);
        height: 120px;
        width: 100%;
        margin-top: 160px;
        padding: 10px;
        border-top: 5px dashed var(--colorbordesorange);
        border-bottom: 5px dashed var(--colorbordesorange);
        color: var(--colortextos);
        border-radius: 10px;
    }

    #label-main {
        align-items: flex-start;
        text-align: left;
        font-size: 15px;
        margin-left: 20px;
    }

    .select-content {
        display: flex;
        margin-top: 20px;
        margin-left: -40px;
        padding-right: -10px;
    }

    .filter {
        font-family: var(--fontfamily);
        font-size: 15px;
        border-radius: 15px;
        border-color: var(--colorbordesorange);
        background-color: #95d0d8;
        color: var(--colortextos);
    }

    .filter-label {
        font-size: 15px;
        text-align: center;
        margin-bottom: 5px;
    }

    #artic-direct {
        display: block;
        margin: 10px;
        padding-left: 50px;
    }

    #artic-az {
        display: block;
        margin: 10px;
        padding-left: 20px;
    }

    #artic-produc {
        display: block;
        margin: 10px;
        padding-left: 20px;
    }

    /* *******PRESENTACION DE LA PAGINA******* */
    .presentation {
        display: flex;
        align-items: center;
        text-align: center;
        padding-left: 90px;
        color: var(--colortextos);
        margin: 30px;
        font-size: 18px;
        font-style: italic;
        background-color: var(--presentcolor);
        width: 90%;
        height: 80px;
        border-radius: 5px;
    }

    .percent{
        font-size: 18px;
        text-align: center;
        color: rgb(17, 17, 17);
        text-shadow: 2px 1px #55C5D1;
        width: 90%;
    }

    /* ***CUERPO DE LA PAGINA TARJETAS DISPOSITIVO MEDIANO*** */
    .container {
        display: grid;
        justify-content: center;
        width: 100%;
    }

    .card {
        width: 650px;
        height: auto; 
        margin: 10px;
        padding: 20px;
        background-color: var(--presentcolor);
        border-left: 4px solid var(--colorbordesorange);
        border-top: 4px solid var(--colorbordesorange); 
        border-radius: 15px; 
        text-align: justify; 
        align-items: center;
        word-wrap: break-word;
    }

    .card:hover {
        background-color: #5ec7d2f0;
        transition: 0.5s;
    }
        
    #posters {
        height: 200px;
        width: auto;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
        border-color: var(--colorbordesorange);
        border-radius: 15px;   
        float: left;
    }

    .title {
        color: var(--colortextos);
        padding: 10px;
        margin-left: 10px;
        text-align: center;
        color: black;
        font-size: 20px;
        font-style: oblique;
    }

    .releaseDate {
        color: black;
        font-size: 20px;
        font-style: oblique;
        margin-top: 10px;
    }

    #description {
        height:800px ;
        padding: 20px;
        font-size: 15px;
        line-height: 1.5;
        text-align: justify;
        box-shadow: 1px;
    }

    /* SECCIONES ADICIONALES */
    #ghibli{
        margin: 100px 25px;
        text-align: justify;
    }

    #gif-totoro {
        height: 250px;
        margin-left: 100px;
    }

    .gifs {
        height: 340px;
        margin-left: 80px;
    }

    .sect-title {
        text-align: center;
    }

    
    .curious-text {
        margin: 20px;
        text-align: justify;
    } 
}

/*=============================================================== 
          DISPOSITIVOS DE TAMAﾃ前 GRANDE =>LAPTOPS Y PC
=============================================================== */
@media screen and (min-width: 1100px) and (max-width: 2560px) {
    body {
        display: block;
        font-family: var(--fontfamily);
        background-color: var(--backgroundcolor);
        height: auto;
    }
    /* ***CABECERA DE LA PAGINA*** */
    header {
        width: 100%;
        height: 155px;
        background-color: var(--colorhead);
        color: var(--colortextos);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        border-bottom-left-radius: 20px;
        border-left: 5px solid var(--colorbordesorange);
        border-top: 10px solid var(--colorbordesorange);
    }

    /* ***MENU*** */
    .nav {
        display: inline-flex;
    }

    .nav-title-page {
        float: left;
        margin-top: 55px;
        margin-left: 15px;
        font-size: 45px;
        text-shadow: 2px 2px var(--presentcolor);
    }

    .header-nav-logo {
        margin-top: 2px;
        margin-left: 25px;
        height: 140px;
        width: 140px; 
    }

    .nav-toggle {
        display: none;
    }

    .nav-menu {
        display: flex;
        align-items: center;
        list-style: none;
        padding: 5px;
        margin-left: 100px;
    }

    .nav-menu_visible {
        left: 0;
    }

    .nav-menu-item {
        color: black;
        font-size: 20px;
        font-style: italic;
        width: 80%;
        margin-left: 20px;
        padding: 20px;
    }

    .nav-menu-link {
        color: black;
        text-decoration: none;
    }

    .nav-menu-link:hover {
        color: var(--colortexthover);
        transition: 0.5s;
    }

    /* ***CUERPO DE LA PAGINA, SECCION ORDENAR.*** */
    .selectors {
        background-color: var(--colorhead);
        height: 150px;
        width: 100%;
        margin-top: 160px;
        padding: 10px 40px;
        border-top: 5px dashed var(--colorbordesorange);
        border-bottom: 5px dashed var(--colorbordesorange);
        border-radius: 10px;
    }

    #label-main {
        /* display: flex; */
        font-size: 20px;
        margin-left: 20px;
    }

    .select-content {
        display: flex;
        margin: 20px 10px;
        padding-left: 20px;
    }

    .filter {
        font-family: var(--fontfamily);
        font-size: 20px;
        border-radius: 15px;
        border-color: var(--colorbordesorange);
        background-color: #95d0d8;
        color: black;
    }

    .filter-label {
        font-size: 20px;
        text-align: center;
        margin-bottom: 5px;
    }

    #artic-direct {
        display: block;
        margin-top: -5px;
        padding-left: 50px;
        font-size: 30px;
    }

    #artic-az {
        display: block;
        margin: 10px;
        padding-left: 50px;
    }

    #artic-produc {
        display: block;
        margin: 10px;
        padding-left: 50px;
    }

    /* *******PRESENTACION DE LA PAGINA******* */
    .presentation {
        display: flex;
        color: var(--colortextos);
        margin: 20px;
        font-size: 20px;
        background-color: var(--presentcolor);
        text-align: center;
        font-style: italic;
        height: 80px;
        align-items: center;
        justify-content: center;
    }

    .percent{
        font-size: 20px;
        text-align: center;
        color: rgb(17, 17, 17);
        text-shadow: 2px 2px #55C5D1;
    }

    /* ***CUERPO DE LA PAGINA TARJETAS DISPOSITIVO GRANDE*** */
    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-content: center;
        width: 95%;
        margin-left: 90px;
    }

    .card {
        width: 600px;
        height: auto; 
        margin-top: 30px;
        margin-right: 20px;
        padding: 20px;
        background-color: var(--presentcolor);
        border-left: 4px solid var(--colorbordesorange);
        border-top: 4px solid var(--colorbordesorange); 
        border-radius: 15px; 
        text-align: justify; 
        align-items: center;
        word-wrap: break-word;
    }

    .card:hover {
        background-color: #5ec7d2f0;
        transition: 0.5s;
    }
        
    #posters {
        height: 300px;
        width: auto;
        margin-left: 10px;
        margin-right: 20px;
        margin-bottom: 20px;
        border-radius: 15px;   
        float: left;
    }

    .title {
        color: var(--colortextos);
        padding: 10px;
        margin-left: 10px;
        text-align: left;
        color: black;
        font-size: 20px;
        font-style: oblique;
    }

    .releaseDate {
        color: black;
        font-size: 20px;
        font-style: oblique;
        margin-top: 10px;
    }

    #description {
        height:800px ;
        padding: 20px;
        font-size: 15px;
        line-height: 1.5;
        text-align: justify;
        box-shadow: 1px;
    }

    /* SECCIONES ADICIONALES */
    #ghibli{
        margin: 100px 25px;
        text-align: justify;
    }

    #gif-totoro {
        height: 250px;
        margin-left: 500px;
    }

    .gifs {
        height: 340px;
        margin-left: 480px;
    }

    .sect-title {
        text-align: center;
    }

    
    .curious-text {
        margin: 20px;
        text-align: justify;
    } 
}