* {
    margin: 0%;
    padding: 0%;
    width: 100%;
    
}

body {
    background-color: bisque;
}

header {
    display: flex;
    height: auto;
    background-color: #55C5D1;
    border-bottom-left-radius: 10vh;
}

img#logo {
    height: 20vh;
    width: 20vh;
}

.titulo-pagina {
    display: block;
    margin-top: 10vh;
    width: 150vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2em;
}
h2 {
    font-size: larger;
}

#imagen-menu {
    display: block;
    float: right;
    height: 4vh;
    width: 3vh;
    margin: 2vh;
}

main {
    display: flex;
    height: 100vh;
    width: 100%;
    
}

footer {
    display: flex;
    height: auto;
    width: 100%;
    background-color: #55C5D1;
    border-top-right-radius: 6vh;
}

img#instagram, #facebook, #whatsapp, #twitter {
    height: 8vh;
    width: 8vh;
    margin-left: 3vh;
}