/* DISPOSITIVO GRANDE */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

:root {
    --backgroundcolor: #79cbce72;
    --colortextos: rgb(35, 34, 34);
    --fontfamily:'Montserrat', sans-serif;
    --colorbordesorange: rgb(228, 127, 25);
    --colortexthover: rgb(218, 251, 252);
    --colorhead: #55C5D1;
    --colormenu: #dba887f3;
    --presentcolor: #d3b1a4f1; 
}

/* =============================================================== 
          DISPOSITIVOS DE TAMAÑO MENOR A 768px => CELULARES
=============================================================== */
@media screen and (min-width: 1px) and (max-width: 767px) {
    body {
        font-family: var(--fontfamily);
        background-color: var(--backgroundcolor);
        width: 100%;
        height: auto;
        }

        /* ***CABECERA DE LA PAGINA*** */
    header {
        width: 100%;
        height: 110px;
        margin: 0 0px;
        background-color: var(--colorhead);
        color: rgb(67, 65, 65);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        border-bottom-left-radius: 15px;
        border-left: 4px solid var(--colorbordesorange);
        border-top: 4px solid var(--colorbordesorange);
        border-bottom: 4px solid var(--colorbordesorange);
    }

    /* ***MENU*** */
    .nav-title-page {
        float: left;
        margin-top: 40px;
        margin-left: 20px;
        font-size: 20px;
    }

    .header-nav-logo {
        margin-left: 20px;
        height: 100px;
        width: 100px; 
    }

    .nav-toggle {
        z-index: auto;
        float: right;
        font-size: 20px;
        margin: 5px;
        color: var(--colortextos);
        background: none;
        border: none;
        cursor: pointer;
    }

    .nav-menu {
        width: 100%;
        height: 210px;
        list-style: none;
        background-color: var(--presentcolor);
        position: fixed;
        left: 100%;
        border-bottom-left-radius: 15px;
        border-top-left-radius: 15px;
        overflow-y: auto;
        transition: left 0.5s;
        border-left: 4px solid var(--colorbordesorange);
        border-top: 4px solid var(--colorbordesorange);
        border-bottom: 5px dashed var(--colorbordesorange);
    }

    .nav-menu_visible {
        left: 0;
    }

    .nav-menu-item {
        color: var(--colortextos);
        font-size: 20px;
        font-style: italic;
        width: 100%;
        text-align: left;
        margin-top: 20px;
        margin-left: 20px;
    }

    .nav-menu-item:hover {
        background-color: #95d0d8;
    }

    #icons {
        margin-right: 10px;
        color: #41959e;
    }

    .nav-menu-link {
        color: var(--colortextos);
        text-decoration: none;
    }

    .nav-menu-link:hover {
        color: var(--colortexthover);
        transition: 0.5s;
    }

     /* ***CUERPO DE LA PAGINA, SECCION ORDENAR. TARJETAS DISPOSITIVO PEQUE*** */
     .selectors {
        display: block;
        background-color: var(--colorhead);
        height: 200px;
        width: 100%;
        margin-top: 112px;
        padding: 10px 40px;
        border-top: 5px dashed var(--colorbordesorange);
        border-bottom: 5px dashed var(--colorbordesorange);
        color: var(--colortextos);
        border-radius: 10px;
    }
    
    #label-main {
        display: flex;
        font-size: 15px;
        align-items: center;
    }

    .select-content {
        display: grid;
        grid-template-rows: auto;
        }
    
    .filter {
        font-family: var(--fontfamily);
        font-size: 15px;
        border-radius: 15px;
        border-color: var(--colorbordesorange);
        background-color: #95d0d8;
        color: var(--colortextos);
    }

    .filter-label {
        font-size: 15px;
        text-align: center;
        margin-bottom: 5px;
    }

    #artic-direct {
        display: block;
        margin: 5px;
    }

    #artic-az {
        display: block;
        margin: 10px;
    }

    #artic-produc {
        display: block;
        margin: 10px;
    }

    #label-alfa {
        font-size: 40px;
        margin-left: 700px;        
    }

    /* ***CUERPO DE LA PAGINA TARJETAS DISPOSITIVO PEQUE*** */
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        margin-top: 0px;
    }

    .card {
        height: auto;
        margin: 50px;
        background-color: var(--presentcolor);
        border-left: 4px solid var(--colorbordesorange);
        border-top: 4px solid var(--colorbordesorange); 
        border-radius: 15px; 
        text-align: center;
        align-items: center;
        word-wrap: break-word;
    }

    .posters {
        height: 250px;
        margin: 10px;
        text-align: center;
        border-radius: 15px;
    }

    .card h2 {
        padding: 5px;
        color: var(--colortextos);
        font-size: 15px;
    }
    
    .card a {
        background-color: rgb(44, 42, 42);
        color: rgb(189, 227, 248);
        padding: 15px 20px;
        width: fit-content;
        text-decoration: none;
        border-radius: 10px;
    }
}

/* =============================================================== 
          DISPOSITIVOS DE TAMAÑO TABLET 768px 
=============================================================== */
@media screen and (min-width: 768px) and (max-width: 1200px) {
    body {
        font-family: var(--fontfamily);
        background-color: var(--backgroundcolor);
        width: 100%;
        height: auto;
        }

    /* ***CABECERA DE LA PAGINA*** */
    header {
        width: 100%;
        height: 150px;
        background-color: var(--colorhead);
        color: var(--colortextos);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        border-bottom-left-radius: 20px;
        border-left: 10px solid var(--colorbordesorange);
        border-top: 10px solid var(--colorbordesorange);
    }

    /* ***MENU*** */
    .nav {
        display: inline-flex;
    }

    .nav-title-page {
        float: left;
        margin-top: 75px;
        margin-left: 5px;
        font-size: 30px;
    }

    .header-nav-logo {
        margin-top: 10px;
        margin-left: -15px;
        height: 100px;
        width: 100px; 
    }

    .nav-toggle {
        display: none;
    }

    .nav-menu {
        display: inline-flex;
        align-content: center;
        align-items: center;
        list-style: none;
        width: 80%;
        padding: 0px 0;
    }

    .nav-menu_visible {
        left: 0;
    }

    .nav-menu-item {
        color: var(--colortextos);
        font-size: 15px;
        font-style: italic;
        width: 100%;
        text-align: left;
        margin-top: 20px;
        margin-left: 20px;
    }

    .nav-menu-item:hover {
        background-color: #95d0d8;
    }

    #icons {
        margin-right: 10px;
        color: #41959e;
    }

    .nav-menu-link {
        color: var(--colortextos);
        text-decoration: none;
    }

    .nav-menu-link:hover {
        color: var(--colortexthover);
        transition: 0.5s;
    }

     /* ***CUERPO DE LA PAGINA, SECCION ORDENAR.*** */
     .selectors {
        display: block;
        background-color: var(--colorhead);
        height: 200px;
        width: 100%;
        margin-top: 160px;
        padding: 10px 40px;
        border-top: 5px dashed var(--colorbordesorange);
        border-bottom: 5px dashed var(--colorbordesorange);
        color: var(--colortextos);
        border-radius: 10px;
    }
    
    #label-main {
        display: flex;
        font-size: 15px;
        align-items: center;
    }

    .select-content {
        display: grid;
        grid-template-rows: auto;
        }
    
    .filter {
        font-family: var(--fontfamily);
        font-size: 15px;
        border-radius: 15px;
        border-color: var(--colorbordesorange);
        background-color: #95d0d8;
        color: var(--colortextos);
    }

    .filter-label {
        font-size: 15px;
        text-align: center;
        margin-bottom: 5px;
    }

    #artic-direct {
        display: block;
        margin: 5px;
    }

    #artic-az {
        display: block;
        margin: 10px;
    }

    #artic-produc {
        display: block;
        margin: 10px;
    }

    #label-alfa {
        font-size: 40px;
        margin-left: 700px;        
    }

    /* ***CUERPO DE LA PAGINA TARJETAS DISPOSITIVO MEDIANO*** */
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        margin-top: 0px;
    }

    .card {
        width: 250px; 
        height: auto;
        margin: 50px;
        background-color: var(--presentcolor);
        border-left: 4px solid var(--colorbordesorange);
        border-top: 4px solid var(--colorbordesorange); 
        border-radius: 15px; 
        text-align: center;
        align-items: center;
        word-wrap: break-word;
    }

    .posters {
        height: 250px;
        margin: 10px;
        text-align: center;
        border-radius: 15px;
    }

    .card h2 {
        padding: 5px;
        color: var(--colortextos);
        font-size: 15px;
    }
    
    .card a {
        background-color: rgb(44, 42, 42);
        color: rgb(189, 227, 248);
        padding: 15px 20px;
        width: fit-content;
        text-decoration: none;
        border-radius: 10px;
    }
}

/*=============================================================== 
          DISPOSITIVOS DE TAMAÑO GRANDE =>LAPTOPS Y PC
=============================================================== */
@media screen and (min-width: 1201px) and (max-width: 2560px) {
    body {
        display: block;
        font-family: var(--fontfamily);
        background-color: var(--backgroundcolor);
        height: auto;
    }
    /* ***CABECERA DE LA PAGINA*** */
    header {
        width: 100%;
        height: 150px;
        background-color: var(--colorhead);
        color: var(--colortextos);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        border-bottom-left-radius: 20px;
        border-left: 10px solid var(--colorbordesorange);
        border-top: 10px solid var(--colorbordesorange);
    }

    /* ***MENU*** */
    .nav {
        display: inline-flex;
    }

    .nav-title-page {
        float: left;
        margin-top: 75px;
        margin-left: 5px;
        font-size: 30px;
    }

    .header-nav-logo {
        margin-top: 10px;
        margin-left: -15px;
        height: 100px;
        width: 100px; 
    }

    .nav-toggle {
        display: none;
    }

    .nav-menu {
        display: inline-flex;
        align-content: center;
        align-items: center;
        list-style: none;
        width: 80%;
        padding: 0px 0;
    }

    .nav-menu_visible {
        left: 0;
    }

    .nav-menu-item {
        color: var(--colortextos);
        font-size: 15px;
        font-style: italic;
        width: 100%;
        text-align: left;
        margin-top: 20px;
        margin-left: 20px;
    }

    .nav-menu-item:hover {
        background-color: #95d0d8;
    }

    #icons {
        margin-right: 10px;
        color: #41959e;
    }

    .nav-menu-link {
        color: var(--colortextos);
        text-decoration: none;
    }

    .nav-menu-link:hover {
        color: var(--colortexthover);
        transition: 0.5s;
    }

    /* ***CUERPO DE LA PAGINA, SECCION ORDENAR.*** */
    .selectors {
        display: block;
        background-color: var(--colorhead);
        height: 200px;
        width: 100%;
        margin-top: 160px;
        padding: 10px 40px;
        border-top: 5px dashed var(--colorbordesorange);
        border-bottom: 5px dashed var(--colorbordesorange);
        color: var(--colortextos);
        border-radius: 10px;
    }

    #label-main {
        display: flex;
        font-size: 15px;
        align-items: center;
    }

    .select-content {
        display: grid;
        grid-template-rows: auto;
        }

    .filter {
        font-family: var(--fontfamily);
        font-size: 15px;
        border-radius: 15px;
        border-color: var(--colorbordesorange);
        background-color: #95d0d8;
        color: var(--colortextos);
    }

    .filter-label {
        font-size: 15px;
        text-align: center;
        margin-bottom: 5px;
    }

    #artic-direct {
        display: block;
        margin: 5px;
    }

    #artic-az {
        display: block;
        margin: 10px;
    }

    #artic-produc {
        display: block;
        margin: 10px;
    }

    #label-alfa {
        font-size: 40px;
        margin-left: 700px;        
    }

    /* ***CUERPO DE LA PAGINA TARJETAS DISPOSITIVO GRANDE*** */
    .container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: center;
        width: 100%;
        margin-top: 0px;
    }

    .card {
        width: 250px; 
        height: auto;
        margin: 50px;
        background-color: var(--presentcolor);
        border-left: 4px solid var(--colorbordesorange);
        border-top: 4px solid var(--colorbordesorange); 
        border-radius: 15px; 
        text-align: center;
        align-items: center;
        word-wrap: break-word;
    }

    .posters {
        height: 250px;
        margin: 10px;
        text-align: center;
        border-radius: 15px;
    }

    .card h2 {
        padding: 5px;
        color: var(--colortextos);
        font-size: 15px;
    }

    .card a {
        background-color: rgb(44, 42, 42);
        color: rgb(189, 227, 248);
        padding: 15px 20px;
        width: fit-content;
        text-decoration: none;
        border-radius: 10px;
    }
}